/* i.css */
div.RecordBox img.ItemIcon{
    width: 3.9em;
    height: 3.9em;
    align-self: center;
    box-sizing: border-box;
    margin: 0 0.2em 0 0.2em;
    border: 1px solid #808080;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #808080;
}

div.MiniIcon{
    height: 1em;
    padding: 0;
    background-color: #565656;
}
div.MiniIcon img{
    height: 1em;
}