/* ige.css */
* {
    font-family:  Arial, sans-serif, '宋体';
}

#IGE_Container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-content: stretch;
    align-items: stretch;
    margin: 0;
    padding: 0;
}

#SideBarButton {
    display: none;
}

#SideBar {
    height: 100vh;
    left: 0;
    overflow-y: scroll;
    background-color: #f0ffffc0;
}

#Information {
    height: 100vh;
    overflow-y: scroll;
    padding-left: 30px;
}

.SidebarItemGroup {
    margin-top: 18px;
}

.SidebarItemGroup hr {
    margin: 2px;
    border-color: #000;
}

.SidebarItemGroupTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
    padding-left: 0;
    font-family: 'Times New Roman', Times, serif, '宋体';
}

.SidebarItemGroupTitle::before {
    content: "★";
}

.SidebarItemGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    gap: 5px;
    justify-items: center;
    margin: 4px;
    box-sizing: border-box;
}

.SidebarItem {
    width: 50px;
    height: 50px;
    border: 2px solid #7d7d7d;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s;
}

ol#IGE_Frequency_Detail {
    list-style-type: lower-roman;
    list-style-position: outside;
}

ol#IGE_Frequency_Detail li {
    border: 1px solid #000;
    margin: 2px;
    padding: 5px;
}

.InlineItem {
    display: inline-block;
    margin: 0 3px 0 3px;
}

.SidebarItem:hover {
    transform: scale(1.1);
}

.SidebarItem img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.Star5Item {
    background-color: rgb(225, 200, 122);
}

.Star4Item {
    background-color: rgb(193, 153, 253);
}

.MediaImg {
    height: 200px;
    width: auto;
    border: 1px solid #e7e7e7;
    display: inline-block;
    vertical-align: middle;
    margin: 10px auto;
}

.MediaImg[src=""] {
    display: none;
}

#IGE_IllustrationArea {
    max-width: 400px;
    background-color: #333333;
    display: block;
    float: right;
    border: 1px solid #ccc;
    border-radius: 12px;
}

#IGE_Illustration_Caption {
    text-align: center;
    padding: 12px;
    font-size: 24px;
    font-weight: bold;
    background-color: beige;
    overflow-x: auto;
    font-family: 'Times New Roman', Times, serif, '宋体';
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.IID {
    text-align: center;
    padding: 6px;
    font-size: 14px;
    color: #555;
    background-color: #f9f9f9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Elegant {
    text-align: center;
    padding: 6px;
    font-size: 16px;
    font-weight: bold;
    font-style: oblique;
    color: #444;
    background-color: #f9f9f9;
    font-family: 'Times New Roman', Times, serif, '宋体';
}

#IGE_InnerCode::before {
    content: "Code in AGHGC: ";
}

#IGE_InnerCode {
    border-bottom-left-radius: inherit !important;
    border-bottom-right-radius: inherit !important;
}


img#IGE_Illustration {
    /* 控制图片大小 */
    width: 400px;
    height: auto;
    vertical-align: middle;
}

img#IGE_Illustration[src=""] {
    display: none;
}

@media screen and (max-width: 768px) {
    #IGE_Container {
        display: block;
    }

    #Information {
        padding: 0;
    }

    #SideBarButton {
        display: block;
        position: fixed;
        right: 5px;
        width: 36px;
        height: 36px;
        text-align: center;
        background-color: #f1f1f1;
        border: none;
        cursor: pointer;
        font-size: 30px;
        transition: background-color 0.3s;
    }

    #SideBarButton:hover {
        background-color: #ddd;
    }

    #SideBar {
        position: fixed;
        left: 0;
        height: 100%;
        width: 85%;
    }

    #IGE_IllustrationArea {
        display: block;
        box-sizing: border-box;
        width: 100%;
        float: none;
        border: 1px solid #ccc;
        border-radius: 18px;
    }

    img#IGE_Illustration {
        /* 控制图片大小 */
        width: inherit;
        height: auto;
        vertical-align: middle;
    }

    .MediaImg {
        height: 30vw;
        width: auto;
    }
}

#IGE_Title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif, '宋体';
}

.ige_subtitle {
    font-family: 'Times New Roman', Times, serif, '宋体';
}