/* l.css */
body {
    background:
        linear-gradient(#8ffbff,
            transparent),
        linear-gradient(90deg,
            #ffdcd6,
            transparent),
        linear-gradient(-90deg,
            #ffefbc,
            transparent);
    background-blend-mode: screen;
}


p {
    margin: 6px;
}

form p {
    display: inline;
}

form * {
    margin: 0.1em;
}

div.BoxedExhibition {
    padding: 3px;
}


div.SubmitButton {
    text-align: center;
    display: block;
    width: 8em;
    padding: 0.5em;
    border: 3px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    transition-duration: 300ms;
    transition-property: all;
}

.ArtisticButton1 {
    font-weight: auto;
    transition-duration: 300ms;
    transition-property: all;
}

.ArtisticButton1:hover {
    scale: 1.1;
    background:
        linear-gradient(limegreen,
            transparent),
        linear-gradient(90deg,
            skyblue,
            transparent),
        linear-gradient(-90deg,
            coral,
            transparent);
    background-blend-mode: screen;
}

.BoldRed {
    color: red;
    font-weight: 1000;
}

.BoldGreen {
    color: #009d10;
    font-weight: 1000;
}

.BoldBlue {
    color: #1b5cff;
    font-weight: 1000;
}

.BoldYellow {
    color: #cf7f00;
    font-weight: 1000;
}

.BoldPurple {
    color: #5000a5;
    font-weight: 1000;
}

.BoldGrey {
    color: grey;
    font-weight: 1000;
}

.EmphasisBlue {
    display: inline-block;
    font-weight: 900;
    background-color: #a9fff9;
    color: #00469d;
    text-shadow: 1px 1px 2px #8dc0ff;
}

.EmphasisPurple {
    display: inline-block;
    font-weight: 900;
    background-color: #fee0ff;
    color: #89004b;
    text-shadow: 1px 1px 2px #ff6abc;
}

.SupItemTitle {
    color: #1b5cff;
    text-shadow: 1px 1px 2px #5e8bff;
    background-color: #c5ffa8;
}

#CurrentSupCharacters,
#CurrentSupLightcones {
    font-weight: 1000;
}

select {
    max-width: 100%;
    size: border-box;
    padding: 0.2em;
    font-size: 1.4em;
}

.CenteredText {
    text-align: center;
}

@keyframes gradient-move-total {
    0% {
        background-position: 0% 0%;
    }

    25% {
        background-position: 0% 100%;
    }

    50% {
        background-position: 100% 100%;
    }

    75% {
        background-position: 100% 0%;
    }

    100% {
        background-position: 0% 0%;
    }
}