/* l.css */
form p {
    display: inline;
}

form * {
    margin: 0.1em;
}

div.BoxedExhibition {
    padding: 0;
    width: 98%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
    /* 自动填充，最小200px */
    gap: 0.3em;
}


div.SubmitButton {
    text-align: center;
    display: block;
    width: 8em;
    padding: 0.5em;
    border: 3px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    transition-duration: 300ms;
    transition-property: all;
}

div.SubmitButton:hover {
    background-color: aquamarine;
}

div.SubmitButton:active {
    background-color: #f9ff7f;
}

.BoldRed {
    color: red;
    font-weight: 1000;
}

.BoldGreen {
    color: #00bc13;
    font-weight: 1000;
}

.BoldBlue {
    color: #1b5cff;
    font-weight: 1000;
}

.BoldYellow {
    color: #c39800;
    font-weight: 1000;
}

.SupItemTitle {
    color: #1b5cff;
    text-shadow: 1px 1px 2px #5e8bff;
    background-color: #c5ffa8;
}

#CurrentSupCharacters,
#CurrentSupLightcones {
    font-weight: 1000;
}

table {
    margin: 0.1em;
    max-height: 2em;
}

td {
    padding: 0.2em;
    border: 1px solid #000;
    max-height: 1em;
}

td:first-child {
    font-weight: 1000;
}

tr:nth-child(2) {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
}

#M3_Input{
    font-size: 1.1em;
    min-width: 30em;
    max-width: 100%;
}

input.KeyNumberInput {
    margin: 0;
    font-weight: 800;
    font-size: 120%;
}

#AdvFilterArea {
    display: inline-block;
    border: 2px solid #000;
    padding: 0.4em;
    border-radius: 5px;
    margin-top: 0.3em;
}

input.AdvancedPoolFilter {
    font-size: 1.1em;
    min-width: 26em;
    max-width: 100%;
}

div.ScommonSelectors {
    border-style: solid;
    border-color: #000;
    border-width: 2px;
    border-radius: 4px;
    padding: 0.4em
}

div.ScommonSelectors div div.card {
    display: inline-block;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 0.3em;
    margin: 0.2em;
    cursor: pointer;
    transition-property: all;
    transition-duration: 200ms;
}

div.ScommonSelectors div div.card:hover {
    color: #fff;
    background-color: #9f9f9f;
    text-shadow: 1px 1px 3px #fff;
}

.CenteredText {
    text-align: center;
}

div#ScommonSelector_Inclusion div::before {
    content: "✓ ";
    color: #00bc13;
    font-weight: 1000;

}

div#ScommonSelector_Exclusion div::before {
    color: red;
    font-weight: 1000;
    content: "× ";
}

@keyframes gradient-move-total {
    0% {
        background-position: 0% 0%;
    }

    25% {
        background-position: 0% 100%;
    }

    50% {
        background-position: 100% 100%;
    }

    75% {
        background-position: 100% 0%;
    }

    100% {
        background-position: 0% 0%;
    }
}