/* l.css */
div.BoxedExhibition {
    margin: 2%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

div.RecordBox {
    width: 160px;
    margin: 8px;
    padding: 0;
    border: 2px solid;
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.RecordBox img {
    width: 40px;
    height: 40px;
    border: 1px solid;
    margin: 5px 5px 5px 5px;
    padding: 3px;
}

div.RecordBox p {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 60%;
}

div.SubmitButton{
    text-align: center;
    display: block;
    width: 70px;
    padding: 8px;
    border: 3px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 300ms;
    transition-property: all;
}
div.SubmitButton:hover{
    background-color: aquamarine;
}
div.SubmitButton:active{
    background-color: #f9ff7f;
}

.BoldRed{
    color: red;
    font-weight: 1000;
}
.BoldGreen{
    color: #00960f;
    font-weight: 1000;
}
.BoldBlue{
    color: #1b5cff;
    font-weight: 1000;
}