div.group {
    border: 2px solid #000;
    padding: 0.4em;
    border-radius: 8px;
    margin: 0.2em;
}

div.module {
    border: 4px solid #40b9fc;
    box-shadow: 0 0 20px #b3e4ff;
    padding: 0.8em;
    border-radius: 14px;
    margin-top: 3em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

/* 预备模块 */

input.KeyNumberInput {
    margin: 0;
    font-weight: 800;
    font-size: 120%;
}

textarea.AdvancedPoolFilter {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    font-weight: 800;
    min-width: 100%;
    resize: vertical;
}

textarea.AdvancedPoolFilter:focus {
    background-color: #f9ff7f;
    text-shadow: 0px 0px 2px #c4c4c4;
}

/* 第一模块 */

#PredictionTableArea table {
    margin: 0.1em;
    border-spacing: 6px;
}

.BoxedExhibition table{
    border-spacing: 0;
}

#PredictionTableArea, .BoxedExhibition {
    overflow-x: scroll;
}

#PredictionTableArea td {
    padding: 0.3em;
    max-height: 1.3em;
    font-size: 1.1em;
}

#PredictionTableArea td:nth-child(odd) {
    font-family: '等线', Arial, Helvetica, sans-serif;
    font-weight: 1000;
    border: 3px ridge #000;
}

#PredictionTableArea td:nth-child(even) {
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 2px solid #000;
}

/* 第二模块 */


div.ScommonSelectors div div.card {
    display: inline-block;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 0.3em;
    margin: 0.2em;
    cursor: pointer;
    transition-property: all;
    transition-duration: 200ms;
}

div.ScommonSelectors div div.card:hover {
    color: #fff;
    background-color: #727272;
    text-shadow: 0 0 1px #fff;
}

div#ScommonSelector_Inclusion,
div#ScommonSelector_Exclusion {
    font-weight: 800;
}


div#ScommonSelector_Inclusion div::before {
    content: "✓ ";
    color: #00bc13;

}

div#ScommonSelector_Exclusion div::before {
    color: red;
    content: "× ";
}

/* 第三模块 */

#M3_E_Result {
    font-size: 1.3em;
}

#M3_Input {
    box-sizing: border-box;
    font-size: 1em;
    min-width: 100%;
}