div.RecordBox {
    margin: auto 0.2em auto 0.2em;
    width: 11rem;
    min-width: 11rem;
    max-height: 8em;
    padding: 0;
    border: 1px solid;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow: hidden;
}

div.RightColumn {
    width: 100%;
    flex-grow: 1;
}

div.RecordBox p {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0.6rem;
}

.ItemTitle {
    font-size: 0.9rem;
}